<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<script src="Scripts/angular.js"></script>
<script>
    function Customer($scope,$rootScope)
    {
       
        
        $scope.CustomerName = "Shailesh";
        var dt = new Date();
        $scope.SalesDateTime = dt.toDateString();
       
        $scope.CustomerCode = "1001";
        $scope.CustomerAmt = "700";
        $scope.CustomerAmtColor = "Red";
        $scope.$watch("CustomerAmt"
            , function ()
                         {
                              if ($scope.CustomerAmt> 1000)
                              {
                                  $scope.CustomerAmtColor = "Green";
                              }
                              else
                              {
                                  $scope.CustomerAmtColor = "Red";
                              }
                          }

                     )
        $scope.Submit = function ()
        {
            if ($scope.CustomerName.length == 0) {
                alert("Not a proper data");
            }
            else {
                alert("Proper data");
            }
        }
    }
    var myapp = angular.module("myApp", []);
    myapp.controller("CustomerObj",Customer);
</script>
<body ng-app="myApp">
    
    <div id="CustScreen" ng-controller="CustomerObj">
       
        Customer Name:- <input type="text" ng-model="CustomerName" id="CustomerName" />
        Customer Code:- <input type="text" ng-model="CustomerCode" id="CustomerCode" />
        Customer Amount:- <input type="text" ng-model="CustomerAmt" id="CustomerAmt" style="background-color:{{CustomerAmtColor}}" />
        <input type="button" name="name" ng-click="Submit()" value="Submit" />
        <div id="divCustomerName"> {{CustomerName}}</div>
        <div id="divCustomerCode"> {{CustomerCode}}</div>
        Sale Date and Time :{{::SalesDateTime}} <br />
    </div><br/>
    
</body>
</html>
