<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<script src="Scripts/angular.js" type="text/javascript"></script>
<script>
    function Customer($scope) {
        $scope.$on("MyEvent", function (event, data) {
            alert(" Customer :" + data);
        });
        //broad cast
        $scope.SendDown = function () {
            $scope.$broadcast("MyEvent", "Event from Customer ");
        }
    }
    function Order($scope) {
        $scope.$on("MyEvent", function (event, data) {
            alert(" Order :" + data);
        });
    }
    function Address($scope) {
        var ref = null;
        $scope.Subscribe = function () {
           ref = $scope.$on("MyEvent", function (event, data) {
                alert(" Address :" + data);
            });
        
        $scope.UnSubscribe = function () {
            ref(); // unsub
            };
        }
    }
    function Phone($scope,$rootScope) {
        $scope.$on("MyEvent", function (event, data) {
           
            alert(" Phone :" + data);
        });
        // emit
        $scope.All = function () {
            $rootScope.$broadcast("MyEvent", "Event for All");
        }
        $scope.SendUp = function () {
            $scope.$emit("MyEvent", "Event from Phone");
        }
    }
    var myApp = angular.module('myApp', []);
    myApp.controller("Customer", Customer);
    myApp.controller("Address", Address);
    myApp.controller("Phone", Phone);
    myApp.controller("Order", Order);
</script>
<body ng-app="myApp">
<div ng-controller="Customer">
    <input type="button" name="name" value="Send Down" ng-click="SendDown()" />
    <div ng-controller="Order">
    </div>
    <div ng-controller="Address">
     <input type="button" name="name" value="Subscribe" ng-click="Subscribe()"/><br />
            <input type="button" name="name" value="UnSub" ng-click="UnSubscribe()"/><br />
        <div ng-controller="Phone">
            <input type="button" name="name" value="Send Up" ng-click="SendUp()"/><br />
            <input type="button" name="name" value="Send All" ng-click="All()"/>
        </div>
    </div>
</div>

</body>
</html>
