@model MVCPractise.ViewModel.CustomerViewModel
@using MVCPractise.Models
<script src="~/Scripts/jquery-1.10.2.js"></script>
<table>
    <tr>
        <td>Customer code</td>
        <td>Customer Name</td>
    </tr>
    @foreach (Customer o in Model.customers)
    {
        <tr>
            <td>@o.CustomerCode</td>
            <td>@o.CustomerName</td>
        </tr>
    }
</table>