@model MVCPractise.ViewModel.CustomerViewModel
@using MVCPractise.Models
@*<table>
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
    </tr>
    @foreach (Customer o in Model.customers)
    {
        <tr>
            <td>@o.CustomerCode</td>
            <td>@o.CustomerName</td>
        </tr>
    }
</table>*@
@{
    WebGrid obj = new WebGrid(Model.customers);
}
@obj.GetHtml();