
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterCustomer</title>
</head>
<body>
    <div> 
        <form action="Submit" method="post">
           Customer Name <input id="Text1" type="text" name="CustomerName" /> <br />
            Customer Code <input id="Text1" type="text" name="CustomerCode" /> <br />
            <input id="Submit1" type="submit" value="submit" />
        </form>
    </div>
</body>
</html>
