@model MVCPractise.ViewModel.CustomerViewModel
@using MVCPractise.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchCustomer</title>
</head>
<body>
    <div> 
        <form action="SearchCustomer" method="post">
            Enter Customer <input name="txtCustomerName" id="Text1" type="text" />
            <br />
            <input id="Submit1" type="submit" value="Search customer" />
        </form>
    </div>
    <br />
    @Html.Partial("DisplayCustomer",Model)
</body>
</html>
